@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the vertical scrollbar */
body {
  overflow-y: scroll;
  scrollbar-width: 0; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

/* Hide the scrollbar for Webkit browsers (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color of the thumb */
}
